.base-card {
  margin-bottom: 2.5rem;

  &-cover-photo {
    width: 100%;
    height: 250px;
  }

  &-cover-photo {
    border-radius: 0;
    &:hover {
      opacity: .8;
    }
  }

  &-details {
    position: relative;

    &-title {
      font-family: 'Crimson-Text';
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      margin: 1rem 0 1.2rem;
    }

    &-subtitle {
      font-size: .6rem;
      letter-spacing: 1.5px;
      border-top: 1px solid #aaa;
      margin-top: 1rem;
      padding-top: .8rem;
      text-transform: uppercase;
    }

    &-rating {
      border-top: 1px solid #aaa;
      padding-top: .6rem;
    }

    &-username {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: .8rem;
    }
  }

  .Rating {
    margin-top: .1rem !important;
  }
}

