@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'fonts';
@import 'variables';
@import 'base-card';
@import 'base-modal';

body {
  background-color: #f4f4f6;
  font-family: 'Raleway';

  .subtle-text {
    color: rgb(170, 169, 169);
    font-size: .8rem;
  }

  .custom-link {
    text-decoration: none;
    color: black;
  }
}
