.UserProfile {
  display: relative;

  .user-container {
    margin: 3rem auto;

    &-username {
      display: inline;
      letter-spacing: 1.5px;
    }

    .logout-btn {
      float: right;
    }

    .member-since {
      display: inline-block;
      border-top: 1.25px solid black;
      padding-top: .3rem;
    }

    &-avatar-container {
      display: flex;
      justify-content: left;

      .user-avatar {
        width: 100%;
        height: auto;
        border-radius: 50%;

        @media only screen 
        and (max-width: 812px) { 
          width: 80%;
        }
      }
    }
    
    .user-stats-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .user-stats-container-btns {
        font-size: 1.5rem;

        @media only screen 
        and (max-width: 812px) { 
          font-size: .9rem;
        }
      }

      .user-stats-container-btns:hover {
        color: lighten(#000000, 40%);
      }
    }
  }

  .user-recent-recs-container {  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 1.2rem;
  }
}
