.UserProfile {
  display: relative;

  .user-container {
    margin: 3rem auto;

    &-username {
      display: inline;
      font-family: 'Crimson-Text';
      letter-spacing: 1.5px;
      padding-bottom: .3rem;
      border-bottom: 1.25px solid black;
    }

    .logout-btn {
      float: right;
    }

    &-avatar-container {
      display: flex;
      justify-content: left;

      .user-avatar {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
    
    .user-stats-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .user-stats-container-btns {
        font-size: 1.5rem;
      }

      .user-stats-container-btns:hover {
        color: lighten(#000000, 40%);
      }
    }
  }

  .user-recent-recs-container {  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 1.2rem;
  }
}
