.Trips {
  padding: 2% 10% 0;

  &-header {
    border-bottom: 1px solid black;
    padding-bottom: .6rem;
    margin-top: 1.2rem;
  }

  &-container {  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 1.2rem;
  }  
}

